@variants responsive {
  .ml-1\/2 {
    margin-left: 50%;
  }
}

.active a {
  @apply text-current;
}

.bg-current {
  background-color: currentColor;
}

.text-current {
  color: currentColor;
}

.border-current {
  border-color: currentColor;
}

/* -----  Interactions  --------------------------------------------- */

.accordion-content {
  transition: height 0.25s ease-out;
}

.expand {
  @apply block;
}

.collapse {
  @apply hidden;
}

/* purgecss start ignore */
.is-open .expand {
  @apply hidden;
}

.is-open .collapse {
  @apply block;
}

.is-visible {
  @apply z-50;
}
/* purgecss end ignore */

/* -----  Responsive typography  --------------------------------------------- */

.text-fluid {
  font-size: 20px;
}

@screen sm {
  .text-fluid {
    font-size: calc(20px + 20 * (100vw - 576px) / 1984);
  }
}

@screen xxl {
  .text-fluid {
    font-size: 40px;
  }
}

/* -----  Junk  --------------------------------------------- */

p + p {
  @apply mt-12;
}

h2 + p {
  @apply mt-12;
}

h2 + ul {
  @apply mt-12;
}

::selection {
  @apply bg-grey;
}
